.doctor-name {
	font-size: 0.8rem;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

.doctor-details {
	font-size: 0.62rem;
	margin: 0;
	display: flex;
	flex-direction: row;
}

.doctor-image {
	margin: 0.75rem 0 0 0.75rem;
	height: auto;
	width: min-content;
	z-index: 2;
	clip-path: ellipse(45% 45% at 50% 50%);
	transform: scale(1.5);
}

.doctor-charge {
	font-size: 0.7rem;
}

.schedule-button::after {
	border: none;
	box-shadow: none;
}

div > .card-body {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2rem;
}
